$clr-primary: #00ed82;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Rubik', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h3 {
    font-size: 26px;
    font-weight: 300;
}

h4 {
    color: $clr-primary;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

